button {
  border-radius: 20px;
  padding: 10px;

  display: block;

  background: rgba(250, 128, 114, 1);
  color: white;

  font-size: 1.3rem;
  transition: all .1s linear;
  position: relative;

  &.home__btn {
    width: 100%;
    // height: 4rem;
  }

  &.edit__btn-toggle-jokes, &.edit__btn-download {
    font-size: 1rem;
    margin-top: 20px;
  }

  &.edit__btn-download {
    position: absolute;
    right: 0;
  }

  &:hover {
    background: rgba(250, 128, 114, .7); 
  }

  &:focus {
    outline: none;
    background: #41EAD4;
  }

  &.disabled {
    background: rgba(0, 0, 0, 0.1);
    border-color: white;

    &:hover {
      cursor: default;
    }
  }
}

#download {
  font-size: 1rem;
  display: flex;
}

.home__btn-link {
  text-decoration: none;
}

.form__error {
  color: red;
  // flex: 1 0 25px;
  margin-bottom: 1rem;
  transition: all .1s linear;
  transform: skewX(0deg) scale(1);
  transform-origin: left;

  &.shake {
    animation: .8s shake;
  }
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg) scale(1.2); }
    20% { transform: skewX(0deg);  }
    100% { transform: skewX(0deg); }  
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  
  width: 75%;
  max-width: 400px;
  background: white;
  
  > .modal__form {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    > input {
      padding: 5px 10px;
      text-align: center;
      font-size: 1.5rem;
    }

    > .modal__btn-submit {
      font-size: 1.5rem;
      padding: 5px 15px;
      border: 1px solid black;
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}

.fist {
  position: fixed;
  transform-origin: center;
  transform: scale(0) rotate(0deg);
  -webkit-font-smoothing: antialiased;
  top: 33%;
  left: 50%;
  z-index: 10;
  transition: all .5s ease-in-out;

  &.punch {
    transform: scale(20) rotate(360deg);
  }
}

.joke-list__btn-delete {
  color: rgba(0, 0, 0, 0.2);

  &:hover {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
}