.edit {
  display: flex;
  flex-direction: column;

  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;

    width: 75%;

    > input, button[type="submit"] {
      margin-top: 20px;
    }
  }
}
