.edit {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  align-items: center;
  
  padding: 0 2rem;
  width: 100%;
  max-width: 600px;
  
  &__header {
    position: relative;
    margin-top: 1rem;
    font-size: 1.5rem;

    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    .header__copy-anchor {
      position: absolute;
      left: calc(100% + 1rem);
      display: flex;
      align-items: center;
    }

    .material-icons {
      font-size: 1.3rem;
    }

    .header__copy-toast {
      border: 1px solid black;
      border-radius: 5px;
      background: white;

      position: absolute;
      width: max-content;
      padding: 0.2rem;
      font-size: 1rem;

      transform: translateX(-50%);
      top: -2rem;
    }
    
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    > input {
      padding: 0.7rem;
      font-size: max(1rem, 16px);
    }

    > input, button[type="submit"] {
      margin-top: 1rem;
      margin-bottom: 5px;
    }

    > button[type="submit"] {
      padding-left: 2rem;
      padding-right: 2rem;
      align-self: center;
    }

    > .form__checkbox-container {
      display: flex;

      > div {
        padding-right: 1rem;
      }
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  > .edit__joke-list {
    width: 100%;

    padding-bottom: 2rem;
    margin-top: 2rem;

    display: flex;
    flex: 1;
    transform-origin: top center;
    transform: scaleY(1);
    transition: all .1s ease-in;

    // overflow-y: auto;

    &.collapse {
      transform: scaleY(0);
      display: none;
    }

    ul {
      width: 100%;
    }

    li {
      padding: 10px 0;

      > .joke-list__row {
        display: flex;
        align-items: center;

        :nth-child(2) {
          padding-left: 1rem;
          flex: 1;
        }
      }
    }

    
  }
}

// ::-webkit-scrollbar-thumb {
//       background: #41EAD4;
//       border-radius: 10px;
//     }

// ::-webkit-scrollbar {
//   width: 5px;
// }

   