.nav {
  background: salmon;
  padding: 10px;
  
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;

  font-size: 3rem;
  font-weight: 700;

  border-bottom: 2px solid black;

  > a {
    transition: all .1s linear;

    &:hover {
    color: white;
    }
  }
}